*{
    font-family: Lobster;
    background-color: lightcyan;
    }
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      #customers tr:nth-child(even){background-color: #f2f2f2;}
      
      #customers tr:hover {background-color: #ddd;}
      
      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        border: 1px solid #555;
      }
      
      li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      li {
        text-align: center;
        border-bottom: 1px solid #555;
      }
      
      li:last-child {
        border-bottom: none;
      }
      
      li a.active {
        background-color: #04AA6D;
        color: white;
      }
      
      li a:hover:not(.active) {
        background-color: #555;
        color: white;
      }
    